{% extends "skeleton/_base.html" %}
{% hyde
    title: "3. Java client"
%}

{% block content %}

<div class="row-fluid">
    <div class="span12">
{% restructuredtext %}


.. raw:: html

    <a class="btn btn-info" href="https://github.com/10clouds/Troia-Java-Client/tree/with-tutorial/tutorialApp">
        <i class="icon-download icon-white"></i>
        Tutorial code
    </a><p>&nbsp;</p>



We have a set of web pages, being classifier by online workers, as being "porn" or "not porn". We do not know neither the correct classification of the pages nor how good the workers are in this particular task.

In our simple example, we will have five workers (worker1 to worker5), and five URLs that need to be classified. We have two classes: porn and notporn.

The URLs that need to be classified are
::

 http://sunnyfun.com
 http://sex-mission.com
 http://google.com
 http://youporn.com
 http://yahoo.com

The workers assigned the following labels:
::

 worker1 http://sunnyfun.com	porn
 worker1 http://sex-mission.com	porn
 worker1 http://google.com	porn
 worker1 http://youporn.com	porn
 worker1 http://yahoo.com	porn
 worker2 http://sunnyfun.com	notporn
 worker2 http://sex-mission.com	porn
 worker2 http://google.com	notporn
 worker2 http://youporn.com	porn
 worker2 http://yahoo.com	porn
 worker3 http://sunnyfun.com	notporn
 worker3 http://sex-mission.com	porn
 worker3 http://google.com	notporn
 worker3 http://youporn.com	porn
 worker3 http://yahoo.com	notporn
 worker4 http://sunnyfun.com	notporn
 worker4 http://sex-mission.com	porn
 worker4 http://google.com	notporn
 worker4 http://youporn.com	porn
 worker4 http://yahoo.com	notporn
 worker5 http://sunnyfun.com	porn
 worker5 http://sex-mission.com	notporn
 worker5 http://google.com	porn
 worker5 http://youporn.com	notporn
 worker5 http://yahoo.com	porn

Goal: The goal is to find the correct class of each example using the labels provided by the workers.


Workers have varying levels of quality:

- worker1 is lazy, and gives the answer porn all the time
- worker2 is ok but not great. For example, labeled http://yahoo.com as porn even though it is notporn
- worker3 and worker4 are high-quality workers
- worker5 is malicious, giving always the incorrect answer, trying to fool the system

Of course, we do not know the correct category for the URLs and we do not know the quality of the workers beforehand.


Processing data file
--------------------
Before we start using Troia server we must prepare data in form that 
it can process. To do that we must parse text file, in this example it's
done by object of DataFileProcessor class. 
{% endrestructuredtext %}
<pre style='color:#000000;background:#f1f0f0;'>package tutorial<span style='color:#806030; '>;</span>

<span style='color:#400000; font-weight:bold; '>import</span> troiaClient<span style='color:#806030; '>.</span>Label<span style='color:#806030; '>;</span>
<span style='color:#400000; font-weight:bold; '>import</span> troiaClient<span style='color:#806030; '>.</span>GoldLabel<span style='color:#806030; '>;</span>
<span style='color:#400000; font-weight:bold; '>import</span> java<span style='color:#806030; '>.</span>util<span style='color:#806030; '>.</span>Collection<span style='color:#806030; '>;</span>
<span style='color:#400000; font-weight:bold; '>import</span> java<span style='color:#806030; '>.</span>io<span style='color:#806030; '>.</span><span style='color:#806030; '>*</span><span style='color:#806030; '>;</span>
<span style='color:#400000; font-weight:bold; '>import</span> java<span style='color:#806030; '>.</span>util<span style='color:#806030; '>.</span>Scanner<span style='color:#806030; '>;</span>
<span style='color:#400000; font-weight:bold; '>import</span> java<span style='color:#806030; '>.</span>util<span style='color:#806030; '>.</span>ArrayList<span style='color:#806030; '>;</span>

<span style='color:#3f5fbf; '>/**</span>
<span style='color:#3f5fbf; '>&#xa0;* Class used for processing data files.</span>
<span style='color:#3f5fbf; '>&#xa0;*/</span>
public class DataFilesProcessor <span style='color:#806030; '>{</span>


    <span style='color:#3f5fbf; '>/**</span>
<span style='color:#3f5fbf; '>&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;* This function generates labels from file.</span>
<span style='color:#3f5fbf; '>&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;* File must be formatted as follows &lt;worker>&lt;tab>&lt;object>&lt;tab>&lt;label></span>
<span style='color:#3f5fbf; '>&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;* </span><span style='color:#7f9fbf; font-weight:bold; '>@param</span><span style='color:#3f5fbf; '> filename Name of file containing worker assigned labels.</span>
<span style='color:#3f5fbf; '>&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;* </span><span style='color:#7f9fbf; font-weight:bold; '>@return</span><span style='color:#3f5fbf; '> Collection of labels extracted from files.</span>
<span style='color:#3f5fbf; '>&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;*/</span>    
    public Collection<span style='color:#806030; '>&lt;</span>Label<span style='color:#806030; '>></span> parseLabels<span style='color:#806030; '>(</span><span style='color:#800040; '>String</span> filename<span style='color:#806030; '>)</span> throws IOException<span style='color:#806030; '>{</span>
    File dataFile <span style='color:#806030; '>=</span> new File<span style='color:#806030; '>(</span>filename<span style='color:#806030; '>)</span><span style='color:#806030; '>;</span>
    Scanner scanner <span style='color:#806030; '>=</span> new Scanner<span style='color:#806030; '>(</span>dataFile<span style='color:#806030; '>)</span><span style='color:#806030; '>;</span>
    <span style='color:#800040; '>String</span> line<span style='color:#806030; '>;</span>
    <span style='color:#800040; '>String</span><span style='color:#806030; '>[</span><span style='color:#806030; '>]</span> inputData<span style='color:#806030; '>;</span>
    Collection<span style='color:#806030; '>&lt;</span>Label<span style='color:#806030; '>></span> labels <span style='color:#806030; '>=</span> new ArrayList<span style='color:#806030; '>&lt;</span>Label<span style='color:#806030; '>></span><span style='color:#806030; '>(</span><span style='color:#806030; '>)</span><span style='color:#806030; '>;</span>
    <span style='color:#400000; font-weight:bold; '>while</span><span style='color:#806030; '>(</span>scanner<span style='color:#806030; '>.</span>hasNextLine<span style='color:#806030; '>(</span><span style='color:#806030; '>)</span><span style='color:#806030; '>)</span><span style='color:#806030; '>{</span>
        line <span style='color:#806030; '>=</span> scanner<span style='color:#806030; '>.</span>nextLine<span style='color:#806030; '>(</span><span style='color:#806030; '>)</span><span style='color:#806030; '>;</span>
        inputData <span style='color:#806030; '>=</span> line<span style='color:#806030; '>.</span>split<span style='color:#806030; '>(</span><span style='color:#800000; '>"</span><span style='color:#0f6900; '>\t</span><span style='color:#800000; '>"</span><span style='color:#806030; '>)</span><span style='color:#806030; '>;</span>
        <span style='color:#400000; font-weight:bold; '>if</span><span style='color:#806030; '>(</span>inputData<span style='color:#806030; '>.</span>length<span style='color:#806030; '>!</span><span style='color:#806030; '>=</span><span style='color:#c00000; '>3</span><span style='color:#806030; '>)</span><span style='color:#806030; '>{</span>
        throw new IOException<span style='color:#806030; '>(</span><span style='color:#800000; '>"</span><span style='color:#e60000; '>Incorrect file format </span><span style='color:#0f6900; '>\"</span><span style='color:#800000; '>"</span><span style='color:#806030; '>+</span>line<span style='color:#806030; '>+</span><span style='color:#800000; '>"</span><span style='color:#0f6900; '>\"</span><span style='color:#800000; '>"</span><span style='color:#806030; '>)</span><span style='color:#806030; '>;</span>
        <span style='color:#806030; '>}</span><span style='color:#400000; font-weight:bold; '>else</span><span style='color:#806030; '>{</span>
        labels<span style='color:#806030; '>.</span>add<span style='color:#806030; '>(</span>new Label<span style='color:#806030; '>(</span>inputData<span style='color:#806030; '>[</span><span style='color:#c00000; '>0</span><span style='color:#806030; '>]</span><span style='color:#806030; '>,</span>inputData<span style='color:#806030; '>[</span><span style='color:#c00000; '>1</span><span style='color:#806030; '>]</span><span style='color:#806030; '>,</span>inputData<span style='color:#806030; '>[</span><span style='color:#c00000; '>2</span><span style='color:#806030; '>]</span><span style='color:#806030; '>)</span><span style='color:#806030; '>)</span><span style='color:#806030; '>;</span>
        <span style='color:#806030; '>}</span>
    <span style='color:#806030; '>}</span>
    System<span style='color:#806030; '>.</span>out<span style='color:#806030; '>.</span>println<span style='color:#806030; '>(</span>labels<span style='color:#806030; '>)</span><span style='color:#806030; '>;</span>
        <span style='color:#400000; font-weight:bold; '>return</span> labels<span style='color:#806030; '>;</span>
    <span style='color:#806030; '>}</span>


<span style='color:#806030; '>}</span>
</pre>
{% restructuredtext %}

Using Troia server
------------------
After you prepared collection of labels you can send them to Troia server 
this is done by this code :
{% endrestructuredtext %}
<pre style='color:#000000;background:#f1f0f0;'>package tutorial<span style='color:#806030; '>;</span>


<span style='color:#400000; font-weight:bold; '>import</span> java<span style='color:#806030; '>.</span>util<span style='color:#806030; '>.</span>Collection<span style='color:#806030; '>;</span>
<span style='color:#400000; font-weight:bold; '>import</span> java<span style='color:#806030; '>.</span>util<span style='color:#806030; '>.</span>Map<span style='color:#806030; '>;</span>
<span style='color:#400000; font-weight:bold; '>import</span> java<span style='color:#806030; '>.</span>io<span style='color:#806030; '>.</span>IOException<span style='color:#806030; '>;</span>
<span style='color:#400000; font-weight:bold; '>import</span> java<span style='color:#806030; '>.</span>net<span style='color:#806030; '>.</span>HttpURLConnection<span style='color:#806030; '>;</span>
<span style='color:#400000; font-weight:bold; '>import</span> java<span style='color:#806030; '>.</span>net<span style='color:#806030; '>.</span>MalformedURLException<span style='color:#806030; '>;</span>

<span style='color:#c34e00; '>/* Importing all classes from Troia client library*/</span>
<span style='color:#400000; font-weight:bold; '>import</span> troiaClient<span style='color:#806030; '>.</span><span style='color:#806030; '>*</span><span style='color:#806030; '>;</span>


<span style='color:#c34e00; '>/*</span>
<span style='color:#c34e00; '>&#xa0;* This class is example of use of Troia service with</span>
<span style='color:#c34e00; '>&#xa0;* Java client library</span>
<span style='color:#c34e00; '>&#xa0;*/</span>
public class TroiaExample <span style='color:#806030; '>{</span>
    

    <span style='color:#c34e00; '>/*If this is true then if request with this name exists on server it will be updated*/</span>
    private <span style='color:#400000; font-weight:bold; '>static</span> final boolean ENABLE_UPDATE <span style='color:#806030; '>=</span> true<span style='color:#806030; '>;</span>

    <span style='color:#c34e00; '>/*This function contains example of Troia java client implementation */</span>
    public <span style='color:#400000; font-weight:bold; '>void</span> processRequest<span style='color:#806030; '>(</span>Collection<span style='color:#806030; '>&lt;</span>Label<span style='color:#806030; '>></span> labels<span style='color:#806030; '>)</span><span style='color:#806030; '>{</span>
    <span style='color:#c34e00; '>/*Most Troia client methods may throw exception when unable to connect to </span>
<span style='color:#c34e00; '>&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;*Troia so they must be put in try block.*/</span>
    try<span style='color:#806030; '>{</span>

        <span style='color:#c34e00; '>/*Crating request that will use "</span><span style='color:#5555dd; '>www.project-troia.com</span><span style='color:#c34e00; '>" as Troia server and "TurtorialRequest"</span>
<span style='color:#c34e00; '>&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;*as a request identifier. Timeout for request will be 3 seconds (3000 miliseconds).</span>
<span style='color:#c34e00; '>&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;&#xa0;*This constructor checks if url is not malformed and if it is throws a exception. */</span>
        TroiaRequest request <span style='color:#806030; '>=</span> new TroiaRequest<span style='color:#806030; '>(</span><span style='color:#800000; '>"</span><span style='color:#e60000; '>www.project-troia.com/GetAnotherLabel/rest/</span><span style='color:#800000; '>"</span><span style='color:#806030; '>,</span><span style='color:#800000; '>"</span><span style='color:#e60000; '>TutorialRequest</span><span style='color:#800000; '>"</span><span style='color:#806030; '>,</span><span style='color:#c00000; '>3000</span><span style='color:#806030; '>)</span><span style='color:#806030; '>;</span>

        <span style='color:#c34e00; '>//Checking if Troia server is at given address</span>
        System<span style='color:#806030; '>.</span>out<span style='color:#806030; '>.</span>println<span style='color:#806030; '>(</span>request<span style='color:#806030; '>.</span>ping<span style='color:#806030; '>(</span><span style='color:#806030; '>)</span><span style='color:#806030; '>)</span><span style='color:#806030; '>;</span>

        <span style='color:#c34e00; '>//Checking if there is already request with given name</span>
        <span style='color:#400000; font-weight:bold; '>if</span><span style='color:#806030; '>(</span><span style='color:#806030; '>!</span>request<span style='color:#806030; '>.</span>exists<span style='color:#806030; '>(</span><span style='color:#806030; '>)</span><span style='color:#806030; '>|</span><span style='color:#806030; '>|</span>ENABLE_UPDATE<span style='color:#806030; '>)</span><span style='color:#806030; '>{</span>

        <span style='color:#c34e00; '>/*Extracting categories from labels*/</span>
        Collection<span style='color:#806030; '>&lt;</span>Category<span style='color:#806030; '>></span> categories <span style='color:#806030; '>=</span> CategoryFactory<span style='color:#806030; '>.</span>getInstance<span style='color:#806030; '>(</span><span style='color:#806030; '>)</span><span style='color:#806030; '>.</span>extractCategories<span style='color:#806030; '>(</span>labels<span style='color:#806030; '>)</span><span style='color:#806030; '>;</span>

        <span style='color:#c34e00; '>//Uploading categories into Troia server</span>
        request<span style='color:#806030; '>.</span>loadCategories<span style='color:#806030; '>(</span>categories<span style='color:#806030; '>)</span><span style='color:#806030; '>;</span>

        <span style='color:#c34e00; '>//Uploading labels into Troia server</span>
        request<span style='color:#806030; '>.</span>loadLabels<span style='color:#806030; '>(</span>labels<span style='color:#806030; '>)</span><span style='color:#806030; '>;</span>

        <span style='color:#c34e00; '>//Ordering Troia server to execute Dawid-Skene algorithm with </span>
        <span style='color:#c34e00; '>//3 iterations</span>
        request<span style='color:#806030; '>.</span>computeBlocking<span style='color:#806030; '>(</span><span style='color:#c00000; '>3</span><span style='color:#806030; '>)</span><span style='color:#806030; '>;</span>

        <span style='color:#c34e00; '>//Map that contains categories associated to objects by Troia</span>
        Map<span style='color:#806030; '>&lt;</span><span style='color:#800040; '>String</span><span style='color:#806030; '>,</span><span style='color:#800040; '>String</span><span style='color:#806030; '>></span> majorityVotes <span style='color:#806030; '>=</span> request<span style='color:#806030; '>.</span>majorityVotes<span style='color:#806030; '>(</span><span style='color:#806030; '>)</span><span style='color:#806030; '>;</span>

        <span style='color:#c34e00; '>//Printing out categories associated to object by Troia</span>
        Collection<span style='color:#806030; '>&lt;</span><span style='color:#800040; '>String</span><span style='color:#806030; '>></span> categoryNames <span style='color:#806030; '>=</span> majorityVotes<span style='color:#806030; '>.</span>keySet<span style='color:#806030; '>(</span><span style='color:#806030; '>)</span><span style='color:#806030; '>;</span>
        <span style='color:#400000; font-weight:bold; '>for</span> <span style='color:#806030; '>(</span><span style='color:#800040; '>String</span> categoryName <span style='color:#806030; '>:</span> categoryNames<span style='color:#806030; '>)</span> <span style='color:#806030; '>{</span>
            System<span style='color:#806030; '>.</span>out<span style='color:#806030; '>.</span>println<span style='color:#806030; '>(</span>categoryName<span style='color:#806030; '>+</span><span style='color:#800000; '>"</span><span style='color:#e60000; '> category is </span><span style='color:#800000; '>"</span><span style='color:#806030; '>+</span>majorityVotes<span style='color:#806030; '>.</span>get<span style='color:#806030; '>(</span>categoryName<span style='color:#806030; '>)</span><span style='color:#806030; '>)</span><span style='color:#806030; '>;</span>
        <span style='color:#806030; '>}</span>

        <span style='color:#806030; '>}</span>

    <span style='color:#806030; '>}</span>catch<span style='color:#806030; '>(</span>MalformedURLException e<span style='color:#806030; '>)</span><span style='color:#806030; '>{</span>
        <span style='color:#c34e00; '>//This code will be reached if Troia service URL is malformed</span>
        System<span style='color:#806030; '>.</span>out<span style='color:#806030; '>.</span>println<span style='color:#806030; '>(</span><span style='color:#800000; '>"</span><span style='color:#e60000; '>Troia URL is malformed</span><span style='color:#800000; '>"</span><span style='color:#806030; '>)</span><span style='color:#806030; '>;</span>
        e<span style='color:#806030; '>.</span>printStackTrace<span style='color:#806030; '>(</span><span style='color:#806030; '>)</span><span style='color:#806030; '>;</span>
    <span style='color:#806030; '>}</span>catch<span style='color:#806030; '>(</span>IOException e<span style='color:#806030; '>)</span><span style='color:#806030; '>{</span>
        <span style='color:#c34e00; '>//This code will be reached if connection with Troia is broken</span>
        System<span style='color:#806030; '>.</span>out<span style='color:#806030; '>.</span>println<span style='color:#806030; '>(</span>e<span style='color:#806030; '>.</span>getMessage<span style='color:#806030; '>(</span><span style='color:#806030; '>)</span><span style='color:#806030; '>)</span><span style='color:#806030; '>;</span>
        e<span style='color:#806030; '>.</span>printStackTrace<span style='color:#806030; '>(</span><span style='color:#806030; '>)</span><span style='color:#806030; '>;</span>
    <span style='color:#806030; '>}</span>
    <span style='color:#806030; '>}</span>


<span style='color:#806030; '>}</span>
</pre>
{% restructuredtext %}

Finally main class must be written to assure cooperation between written parts of code
{% endrestructuredtext %}

<pre style='color:#000000;background:#f1f0f0;'>package tutorial<span style='color:#806030; '>;</span>



<span style='color:#3f5fbf; '>/**</span>
<span style='color:#3f5fbf; '>&#xa0;* This is class containing main function</span>
<span style='color:#3f5fbf; '>&#xa0;* for usefull code see TroiaExample.java or DataFileProcessor.java</span>
<span style='color:#3f5fbf; '>&#xa0;*/</span>
public class ExampleMain <span style='color:#806030; '>{</span>
    
    
    public <span style='color:#400000; font-weight:bold; '>static</span> <span style='color:#400000; font-weight:bold; '>void</span> <span style='color:#800000; font-weight:bold; '>main</span><span style='color:#806030; '>(</span><span style='color:#800040; '>String</span><span style='color:#806030; '>[</span><span style='color:#806030; '>]</span> args<span style='color:#806030; '>)</span> <span style='color:#806030; '>{</span>
    DataFilesProcessor processor <span style='color:#806030; '>=</span> new DataFilesProcessor<span style='color:#806030; '>(</span><span style='color:#806030; '>)</span><span style='color:#806030; '>;</span>
    TroiaExample example <span style='color:#806030; '>=</span> new TroiaExample<span style='color:#806030; '>(</span><span style='color:#806030; '>)</span><span style='color:#806030; '>;</span>
    try<span style='color:#806030; '>{</span>
        example<span style='color:#806030; '>.</span>processRequest<span style='color:#806030; '>(</span>processor<span style='color:#806030; '>.</span>parseLabels<span style='color:#806030; '>(</span><span style='color:#800000; '>"</span><span style='color:#e60000; '>data/tutorialLabels.txt</span><span style='color:#800000; '>"</span><span style='color:#806030; '>)</span><span style='color:#806030; '>)</span><span style='color:#806030; '>;</span>
    <span style='color:#806030; '>}</span>catch<span style='color:#806030; '>(</span>Exception e<span style='color:#806030; '>)</span><span style='color:#806030; '>{</span>
        System<span style='color:#806030; '>.</span>out<span style='color:#806030; '>.</span>println<span style='color:#806030; '>(</span><span style='color:#800000; '>"</span><span style='color:#e60000; '>Error occured : </span><span style='color:#800000; '>"</span><span style='color:#806030; '>+</span>e<span style='color:#806030; '>.</span>getMessage<span style='color:#806030; '>(</span><span style='color:#806030; '>)</span><span style='color:#806030; '>)</span><span style='color:#806030; '>;</span>
        e<span style='color:#806030; '>.</span>printStackTrace<span style='color:#806030; '>(</span><span style='color:#806030; '>)</span><span style='color:#806030; '>;</span>
    <span style='color:#806030; '>}</span>
    <span style='color:#806030; '>}</span>
<span style='color:#806030; '>}</span>
</pre>

    </div>
</div>
{% endblock %}
