{% extends "skeleton/_base.html" %}
{% hyde
    title: "Including client in java project"
%}

{% block content %}

<div class="row-fluid">
    <div class="span12">
{% restructuredtext %}

==========================================
Basic Troia implementation tutorial (Java)
==========================================

Library installation
--------------------
To use Java client you must download it latest revision
from git-hub. Best way to do that is to download Git software
either from their side at http://git-scm.com or if you are using
Linux with package manager you can simply install git package by
writing :
::

 sudo apt-get install git

Another software that will be necessary is build tool and project manager called
Maven. It can be downloaded from http://maven.apache.org/ or with package
manager like in previous example.
After all required software was downloaded we can get Java client code by 
writing :
::

 git clone git://github.com/10clouds/Troia-Java-Client.git

After that you have to create jar package, to do that you need 
to enter Java client main directory where pom.xml is located 
and call maven with following command :
::

 mvn package

This will create *TroiaJavaClient-1.0.jar* in *target* directory.
If you want to use maven in your project you will also have to call
::

 mvn clean install

This will install library in your local maven repository so it can be used 
while building other projects.

Including library in project
----------------------------
This part of tutorial covers how to include this library
in maven based project. If you are using another build 
tool you must search tutorial on adding jars in it.
If you use maven then you simply need to add following dependency to your pom.xml file :
::
 
 <dependency>
  <groupId>TroiaJavaClient</groupId>
  <artifactId>TroiaJavaClient</artifactId>
  <version>1.0</version>
 </dependency>


{% endrestructuredtext %}
    </div>
</div>
{% endblock %}
