---
extends: skeleton/_base.html
title: Troia metrics status
---

{% block extra_js %}
	<script src="http://d3js.org/d3.v3.js"></script>
	<script src="/media/js/underscore.js"></script>
	<script src="http://backbonejs.org/backbone-min.js"></script>
	<script type="text/javascript" src="/media/js/chart.js" charset="utf-8"></script>
{% endblock %}

{% block content %}
	<style>
		body {
			font: 10px sans-serif;
		}
		
		.axis path,.axis line {
			fill: none;
			stroke: #000;
			shape-rendering: crispEdges;
		}
		
		.x.axis path {
			display: none;
		}
		
		.line {
			fill: none;
			stroke-width: 2px;
		}
		
		.legend {
            padding: 5px;
            font: 10px sans-serif;
            background: yellow;
            box-shadow: 2px 2px 1px #888;
        }
        .squared {
			width: 10px;
			height: 10px;
		}
	</style>
	<div class="container">
		<ul class="nav nav-tabs smaller" id="dataSetsTab">
		    <li class="active"><a href="#small" data-toggle="tab">Small</a></li>
		    <li><a href="#medium" data-toggle="tab">Medium</a></li>
	    	<li><a href="#big" data-toggle="tab">Big</a></li>
	    </ul>
 
		<div class="tab-content">
			<div class="tab-pane active" id="small">
				<p>objects: 100, workers: 5, workers per objects: 3 (300 votes), gold ratio: 0.1, minimal worker quality: 0.6, maximal worker quality: 1</p>
			</div>
			<div class="tab-pane" id="medium">
				<p>objects: 1000, workers: 20, workers per objects: 3 (3000 votes), gold ratio: 0.1, minimal worker quality: 0.6, maximal worker quality: 1</p>
			</div>
			<div class="tab-pane" id="big">
				<p>objects: 10000, workers: 200, workers per objects: 3 (30000 votes), gold ratio: 0.005, minimal worker quality: 0.8, maximal worker quality: 1</p>
			</div>
		</div>
		<script type="text/template" id="value_type_template">
			<input type="checkbox" value="<\%= name \%>" <\% if (checked) {\%> checked="" <\% } \%>/> <img style="background-color:<\%= color \%>" class="squared" /> <\%= name \%>
		</script>
		<script type="text/template" id="charts_template">
			<div class="row">
				<h3 style="margin-left:50px"><\%= chart_title \%></h3>
				<div class="span7" id="<\%= chart_div_id \%>"></div>
				<div class="span3" id="<\%= checkboxes_div_id \%>"></div>
			</div>
		</script>
{% endblock %}
