{% extends "skeleton/_root.html" %}

{% block all %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">	
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
		<title>
			{% block title %}
            {{ sitetitle }} : {{ resource.meta.title }}
			{% endblock %}
        </title>

		{% block css %}
		{% if use_less_js %}
			<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
		    <link rel="stylesheet/less" href="/media/less/bootstrap.less">
			<link rel="stylesheet/less" href="/media/less/responsive.less">        
			<link rel="stylesheet/less" href="/media/less/troia.less">     
		    <script src="/media/js/less.js"></script>
		{% else %}
			<link rel="stylesheet" href="{{ site.url }}/media/css/bootstrap.css" type="text/css" />
			<link rel="stylesheet" href="{{ site.url }}/media/css/bootstrap-responsive.css" type="text/css" />
        	<link rel="stylesheet" href="{{ site.url }}/media/css/troia.css" type="text/css" /> 
		{% endif %}
		
		{% block extra_css %}{% endblock %}
		{% endblock %}

		{% block js %}
        <script src="/media/js/jquery-1.7.2.js"></script>
        <script src="/media/js/bootstrap-alert.js"></script>
        <script src="/media/js/bootstrap-button.js"></script>
        <script src="/media/js/bootstrap-carousel.js"></script>
        <script src="/media/js/bootstrap-collapse.js"></script>
        <script src="/media/js/bootstrap-dropdown.js"></script>
        <script src="/media/js/bootstrap.js"></script>
        <script src="/media/js/bootstrap-modal.js"></script>
        <script src="/media/js/bootstrap-popover.js"></script>
        <script src="/media/js/bootstrap-scrollspy.js"></script>
        <script src="/media/js/bootstrap-tab.js"></script>
        <script src="/media/js/bootstrap-tooltip.js"></script>
        <script src="/media/js/bootstrap-transition.js"></script>
        <script src="/media/js/bootstrap-typeahead.js"></script>
		{% block extra_js %}{% endblock %}
		{% endblock %}        

<link rel="icon" 
      type="image/png" 
      href="{{ site.url }}/media/img/f32.png">

	</head>
    <body>
        {% include "skeleton/_navigation.html" %}
        
        <div class="container">
            {% include "skeleton/_breadcrumbs.html" %}
            <div class="row-fluid">
                <div class="span3">
                    {% include "skeleton/_sidebar.html" %}
                </div>
                <div class="span9">
                    {% block header %}
                    <div>
                        <h1>{{ resource.meta.title }}</h1>
                        <hr>
                        {% block header_content %}
                        {% endblock %}
                    </div>
                    {% endblock %} 
                    {% block content %}{% endblock %}
                </div>
            </div>
            {% block footer %}
                {% include "skeleton/_footer.html" %}
            {% endblock %}
        </div>
	</body>
</html>
{% endblock %}
