{% extends "skeleton/_root.html" %}

{% block all %}

{% spaceless %}

{% if node != page.node %}
	{% if node.has_listing %}<a href="{{ node.listing_url }}">{% endif %}
	<h2>{{ node.name }}</h2>
	{% if node.has_listing %}</a>{% endif %}
{% endif %}

<ul>
    {% for list_page in node.pages %}
		{% if list_page != node.listing_page %}
			{% if list_page.display_in_list %}
				<li>
					<a href="{{list_page.url}}">ss</a>

				</li>
			{% endif %}
		{% endif %}
	{% endfor %}
</ul>
{% endspaceless %}
{% endblock %}
