{% extends "skeleton/_root.html" %}

{% block all %}
<div class="navbar">

        <div class="container" style="width:950px;">
            <button type="button"class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">
                <img src="/media/img/logo_b.png" alt="troia" />
            </a>
            <div style="float:right; margin-top:13px;">
                <span style="color:#fff;"><em>Project Troia</em>: Quality Control for Crowdsourcing Applications</span>
                 <a class="btn btn-success" href="https://github.com/ipeirotis/Troia-Server"><i class="icon-download icon-white"></i> Get latest code from <em>github</em></a>
            </div>
        </div>

</div>
{% endblock %}
