{% extends "skeleton/_root.html" %}

{% block all %}
<ul class="nav nav-pills">
        <li class="dropdown">
          <a href="/" role="button" id="drop0">Home</a>
        </li>
        {% for item in menu %}
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" role="button" id="drop{{ loop.index }}" class="dropdown-toggle">{{ item.name }}<b class="caret"></b></a>
          <ul aria-labelledby="drop{{ loop.index }}" role="menu" class="dropdown-menu" id="menu{{ loop.index }}">
              {% for res in site.content.node_from_relative_path(item.url).walk_resources()|sort(reverse=False,attribute='full_url') %}
                    <li {% if resource.url == res.url %}class="active"{% endif %}>
                        <a tabindex="-1" href="{{ res.full_url }}">{{ loop.index }}. {{ res.meta.title }}</a>
                    </li>
                {% endfor %}
          </ul>
        </li>
        {% endfor %}
        <li class="dropdown">
          <a href="https://github.com/ipeirotis/Troia-Server" role="button" id="drop0">Source Code</a>
        </li>
</ul>
{% endblock %}
