{% extends "skeleton/_base.html" %}

{% hyde 
    title: "Getting started" 
%}

{% block content %}

{% restructuredtext %}

Getting started
===============

Mechanical Turk and other "micro-outsourcing" platforms allow the easy
collection of annotation data from a wide variety of onliner workers.
Unfortunately, the results returned back from the workers are of imperfect
quality: No worker is perfect and each worker commits different types of errors. 
Some workers are nothing more than spammers doing minimal, if any, real work.

{% endrestructuredtext %}

{% endblock %}
