{% extends "skeleton/_base.html" %}

{% hyde 
    title: "About project Troia" 
%}

{% block header %}{% endblock %}

{% block content %}

<h1>Project Troia</h1>
<hr /> 
<! 
    XXX header is not displayed (in the RST) 
    when there is the only one on the page 
-->

{% restructuredtext %}
**Troia** is a quality control web service for crowdsourcing applications.

Mechanical Turk and other crowdsourcing platforms allow for easy online
distribution of tasks to users, allowing anyone to work on your tasks.
Unfortunately, the answers submitted by the users are of imperfect quality: No
worker is perfect. In fact, some workers can be submitting completely random
results.

Troia provides the infrastructure for estimating the quality of the data 
collected through crowdsourcing and also provides estimates for the quality of
the participating users.
{% endrestructuredtext %}


{% endblock %}
