{% extends "skeleton/_base.html" %}

{% hyde
    title: How it works
%}

{% block header_content %}

<p>The algorithm is a variation of the expectation-maximization algorithm of Dawid and Skene from the paper: _Maximum Likelihood Estimation of Observer Error-Rates Using the EM Algorithm, Applied Statistics, Vol. 28, No. 1. (1979), pp. 20-28_. The algorithm runs in rounds, performing the following steps in each round:</p>

<ul>
	<li>1. Using the labels given by multiple workers, estimate the most likely "correct" label for each object.</li>

	<li>2. Based on the estimated correct answer for each object, compute the error rates for each worker.</li>

	<li>3. Taking into consideration the error rates for each worker, recompute the most likely "correct" label for each object.</li>

	<li>4. Go to step 2</li>

</ul>

{% endblock %}
