---
extends: skeleton/_base.html
title: Discrete Labels
---

{% block extra_js %}
    <script src="/media/js/underscore.js"></script>
    <script src="/media/js/jquery.numeric.js"></script>
    <script src="/media/js/client.js"></script>
    <script src="/media/js/gal.js"></script>
    <script src="/media/js/utils.js"></script>
    <script src="/media/js/app.js"></script>
    <script src="/media/js/gal_app.js"></script>
    <script src="/media/js/list.min.js"</script>
{% endblock %}

{% block content %}

<div class="row-fluid">
    <div class="span12 no-left-margin relative">
    	<ul class="nav nav-tabs smaller" id="menuTab">
		    <li class="active"><a href="#input" data-toggle="tab">Input</a></li>
		    <li><a href="#result" data-toggle="tab">Results</a></li>
	    </ul>
	    <div class="tab-content">
            <div class="tab-pane active" id="input">
                <div class="row" style="margin: inherit;">
                    <div class="page-header">
                        <h2>1. Algorithm</h2>
                    </div>
                    <div class="span4">
                        <select id="id_algorithm_choose" style="width: 200px;" class="select_down">
                            <option value="BDS">EM Algorithm</option>
                            <option value="BMV">Majority Vote</option>
                        </select>
                    </div>
                    <div id="id_algorithm_info" class="span7 prompt">
                    </div>
                </div>
                <div class="row" style="margin: inherit;">
                    <div class="page-header">
                        <h2>2. Select Existing Data Set</h2>
                    </div>
                    <div class="span4">
                        <select id="id_data_choose" style="width: 200px;" class="select_down">
                            <option value="0">Empty</option>
                            <option value="1">Small: 25 assigned labels, 1 gold</option>
                            <option value="2">Large: 5000 assigned labels, 30 golds</option>
                        </select>
                    </div>
                    <div id="id_data_info" class="span7 prompt">
                    </div>
                </div>
                <div class="row" style="margin: inherit;">
		    		<div class="page-header">
		    			<h2>3. Data</h2>
		    		</div>
		    			<form id="data_form" class="form-horizontal" method="post">
							<ul class="nav nav-tabs" id="dataTab">
								<!--<div class="span7">-->
							    <li class="active"><a href="#data" data-toggle="tab">Data</a></li>
							    <li><a href="#gold" data-toggle="tab">Gold data</a></li>
							    <li><a href="#evaluation" data-toggle="tab">Evaluation</a></li>
                                <li><a href="#matrix" data-toggle="tab">Categories</a></li>
								<!--<div class="span7">-->
						    </ul>
							<div class="tab-content">
								<div class="tab-pane active" id="data">
									<div class="span7 wrapper">
										<div class="control-group content2">
											<textarea id="id_data" class="field span12" rows="15" cols="40" placeholder="worker object class"></textarea>
											<span class="help-inline"></span>
											<h3>Line format:</h3>
											<pre>workerid[whitechar]objectid[whitechar]assignedlabel</pre>
										</div>
									</div>
									<div class="span5 well prompt">
										<p>You can use the form on the left to calculate the quality of the workers that submit answers to your tasks on Mechanical Turk.</p>
									</div>
								</div>
								<div class="tab-pane" id="gold">
									<div class="span7">
										<div class="control-group">
											<textarea id="id_gold_data" class="field span12" rows="15" cols="40" placeholder="object class"></textarea>
											<span class="help-inline"></span>
											<h3>Line format:</h3>
											<pre>objectid[whitechar]correctlabel</pre>
										</div>
									</div>
									<div class="span5 well prompt">
										<p>Optionally, you may also provide a few known ("gold") answers. See <a href="http://behind-the-enemy-lines.blogspot.com/2010/09/worker-evaluation-in-crowdsourcing-gold.html">Worker Evaluation in Crowdsourcing: Gold Data or Multiple Workers?</a> for a discussion on how much help we can get from the usage of the "gold" answers.</p>
									</div>
								</div>
                                <div class="tab-pane" id="evaluation">
                                    <div class="span7">
                                        <div class="control-group">
                                            <textarea id="id_evaluation_data" class="field span12" rows="15" cols="40" placeholder="object class"></textarea>
                                            <span class="help-inline"></span>
                                            <h3>Line format:</h3>
                                            <pre>objectid[whitechar]correctlabel</pre>
                                        </div>
                                    </div>
                                    <div class="span5 well prompt">
                                        <p>You may as well provide a few known answers to check how good is the algorithm answer.</p>
                                    </div>
                                </div>
								<div class="tab-pane" id="matrix" >
                                    <div class="span7">
                                        <h3>Cost matrix</h3>
                                        <div id="cost_matrix"></div>
                                        <h3>Category probabilities</h3>
                                        <div id="category_priors"></div>
                                    </div>
									<div class="span5 well prompt">
										<p>Cost matrix is calculated automaticly based on categories you've entered. You can change the default values.</p>
									</div>
								</div>
							</div>
                            <div class="alert alert-error" style="display:none;">
                                <strong>Error!</strong><p>Troia server not responding.</p>
                            </div>
							<div class="form-actions">
								<span type="button" class="btn btn-info" id="send_data">Process</span>
							</div>
						</form>
		    	</div>
	    	</div>
	    	<div class="tab-pane" id="result">
				<img src="/media/img/bigrotation.gif" id="img-load" />
	    		<div id="response">
                    <div class="row" style="margin-left: auto; margin-right: auto; padding-right: 0;">
                        <div class="span8">
                            <p>
                                <ul class="nav nav-tabs" id="resultsTab">
                                    <li class="active"><a href="#summary" data-toggle="tab">Summary</a></li>
                                    <li><a href="#objects" data-toggle="tab">Predicted labels</a></li>
                                    <li><a href="#workers" data-toggle="tab">Workers stats</a></li>
                                </ul>
                            </p>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="summary">
                            <div id="summary-inner" style="display: none;">
                                <div class="row" style="margin: inherit;">
                                    <div id="job_summary"></div>
                                </div>
                                <div class="row" style="margin: inherit;">
                                    <span id="download_zip_btn" class="btn btn-info" style="">Download results</span>
                                </div>
                                <div class="row" style="margin: inherit;">
                                    <div id="url" style="display: none;">
                                        <h3>You can see later your results at:</h3>
                                        <pre style="text-align: center;"></pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="objects">
                            <div id="objects"></div>
                        </div>
                        <div class="tab-pane" id="workers">
                            <div id="workers"></div>
                        </div>
                    </div>
                </div>
            </div>
	    </div>

        <!-- Job summary template. -->
        <script type="text/template" id="job_summary_template">
            <table id="summary_list">
                <tr>
                    <td>Number of workers</td>
                    <td><%= summary.workers %></td>
                </tr>
                <tr>
                    <td>Number of objects</td>
                    <td><%= summary.objects %></td>
                </tr>
                <tr>
                    <td>Assigned labels</td>
                    <td><%= summary.assigns %></td>
                </tr>
                <tr>
                    <td>Gold labels</td>
                    <td><%= summary.goldObjects %></td>
                </tr>
                <tr>
                    <td>Data labeling quality (estimated)</td>
                    <td>
                        <a href="#" onclick="$('#resultsTab a')[1].click()">
                            <%= estimated_objects_quality_summary.MinCost * 100 %>%
                        </a> (cost: <%= estimated_objects_cost_summary.MinCost %>, base cost: <%= estimated_objects_cost_summary.Spammer %>)
                    </td>
                </tr>
                <tr>
                    <td>Workers quality (estimated)</td>
                    <td>
                        <a href="#" onclick="$('#resultsTab a')[2].click()">
                            <%= estimated_workers_summary.MinCost * 100 %>%
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Data labeling quality (evaluated)</td>
                    <td>
                        <% if (evaluated) { %>
                        <%= evaluated_objects_quality_summary.MinCost * 100 %>%
                        <% } else { %>
                            No evaluation data
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <td>Workers quality (evaluated)</td>
                    <td>
                        <% if (evaluated) { %>
                        <%= evaluated_workers_summary.MinCost * 100 %>%
                        <% } else { %>
                            No evaluation data
                        <% } %>
                    </td>
                </tr>
            </table>
        </script>

        <!-- Cost matrix template -->
        <script type="text/template" id="cost_matrix_template">
            <div>
                <table>
                    <tr>
                        <td></td>
                        <% _.each(categories, function(c) { %>
                            <td><%= c %></td>
                        <% }); %>
                    </tr>
                    <% _.each(categories, function(c1) { %>
                        <tr>
                            <td><%= c1 %></td>
                            <% _.each(categories, function(c2) {
                                _.each(data, function(d) {
                                    if (d['from'] === c1 && d['to'] === c2) { %>
                                        <td><input style="width: auto;" value="<%= d['value'] %>"></td>
                            <% }});}); %>
                        </tr>
                    <% }); %>
                </table>
            </div>
        </script>

        <!-- Category priors template -->
        <script type="text/template" id="category_priors_template">
            <div>
                <table>
                    <% _.each(categories, function(c) { %>
                        <tr>
                            <td><%= c %></td>
                            <% _.each(data, function(d) {
                                if (d['categoryName'] === c) { %>
                                    <td><input style="width: auto;" value="<%= d['value'] %>" ></td>
                            <% }}); %>
                        </tr>
                    <% }); %>
                </table>
            </div>
        </script>

        <!-- Classes table template. -->
        <script type="text/template" id="objects_template">
        <div id="objects_table">
            <table>
                <thead>
                    <tr>
                        <th width="300px">Objects <input type="text" class="search" placeholder="search" /></th>
                        <th>Predicted label</th>
                        <!-- TROIA-368 <% _.each(headers, function(h){  %>
                            <th width="150px"><%= h %></th>
                        <% }); %>
                        </tr> -->
                </thead>
                <tbody class="list">
                    <% _.each(_.sortBy(_.keys(objects), function(num){ if (isNaN(parseInt(num))){ return num; } else { return parseInt(num); }}), function(k){ %>
                        <tr>
                            <td class="object_name"><%= k %></td>
                            <% _.each(headers, function(h){
                                if (evaluation[k] !== undefined) {
                                    if (evaluation[k] === objects[k][h]) { %>
                                        <td class="correct">
                                    <% } else { %>
                                        <td class="not_correct">
                                    <% } %>
                                <% } else { %>
                                    <td>
                                <% } %>
                                <%= objects[k][h] %>
                            </td>
                            <% }); %>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
        </script>

        <!-- Workers table template. -->
        <script type="text/template" id="workers_template">
        <div id="workers_table">
            <table>
                <thead>
                    <tr>
                        <th width="300px">Workers <input type="text" class="search" placeholder="search" /></th>
                        <th>Quality</th>
                        <th width="70px">Payment</th>
                        <th width="70px">Details</th>
                    </tr>
                </thead>
                <tbody class="list">
                <% _.each(_.sortBy(_.keys(workers), function(num){ if (isNaN(parseInt(num))){ return num; } else { return parseInt(num); }}), function(k){ %>
                    <tr>
                        <td class="worker_name"><%= k %></td>
                        <% _.each(headers, function(h){ %>
                            <td style="background-color: hsl(<%= Math.max(0, parseInt(120 * workers[k][h]))%>, 100%, 50%)"><%= parseInt(100*workers[k][h]) %>% </td>
                        <% }); %>
                        <td>
                            <div id="<%= k %>_payment"><img src="/media/img/smallrotation.gif"/></div>
                        </td>
                        <td>
                            <a href="#"
                                id="<%= k %>"
                                class="btn-small"
                                rel="popover">
                                <i class="icon-search"></i>
                            </a>
                            <div style="display: none">
                                <div id="<%= k %>_info">
                                    <span style="font-size: 15px">Confusion matrix:</span>
                                    <div id="<%= k %>_confusion_matrix"><img src="/media/img/smallrotation.gif"/></div>
                                    <span style="font-size: 13px">
                                        <div id="<%= k %>_details"><img src="/media/img/smallrotation.gif"/></div>
                                        <div>Cost: <span id="<%= k %>_cost"><img src="/media/img/smallrotation.gif"/></span></div>
                                        <div>Strategic spammer cost: <span class="spammer_cost"><img src="/media/img/smallrotation.gif"/></span></div>
                                    </span>
                                </div>
                            </div>
                        </td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
        </script>

        <!-- Confusion matrix template. -->
        <script type="text/template" id="confusion_matrix_template">
            <table>
                <tbody>
                    <tr>
                        <td></td>
                        <% 	for (var i = 0; i < categories.length; i++) { %>
                        <td><%= categories[i] %></td>
                        <% } %>
                    </tr>
                    <% 	for (var i = 0; i < categories.length; i++) { %>
                    <tr>
                        <td><%= categories[i] %></td>
                        <% 	for (var j = 0; j < categories.length; j++) {
                                for (var k = 0; k < data.length; k++) {
                                    if (data[k]['from'] === categories[i] && data[k]['to'] === categories[j]) {
                                        %>
                                        <td><%= Math.round(data[k]['value']*100) %>%</td>
                                        <%
                                        break;
                                    }
                                }
                            }
                        %>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </script>

        <!-- worker details template -->
        <script type="text/template" id="worker_details_template">
            <div>Assigned labels: <%= assigns %></div>
            <div>Gold tests: <%= correct_gold_tests %> / <%= gold_tests %></div>
        </script>
    </div>
</div>
{% endblock %}
