---
extends: skeleton/_base.html
title: Continuous Labels
---

{% block extra_js %}
    <script src="/media/js/underscore.js"></script>
    <script src="/media/js/client.js"></script>
    <script src="/media/js/galc.js"></script>
    <script src="/media/js/utils.js"></script>
    <script src="/media/js/app.js"></script>
    <script src="/media/js/galc_app.js"></script>
{% endblock %}

{% block content %}

<div class="row-fluid">
    <div class="span12 no-left-margin relative">
        <ul class="nav nav-tabs smaller" id="menuTab">
            <li class="active"><a href="#input" data-toggle="tab">Input</a></li>
            <li><a href="#result" data-toggle="tab">Results</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="input">
                <div>
                    <div class="row" style="margin: inherit;">
                        <div class="page-header">
                            <h2>1. Initial data</h2>
                        </div>
                        <p>
                            Data set:
                            <select id="id_data_choose" style="width: 300px;" class="select_down">
                                <option value="0">Empty</option>
                                <option value="1">200 assigned labels, 10 golds</option>
                            </select>
                        </p>
                    </div>
                    <div class="row" style="margin: inherit;">
                        <div class="page-header">
                            <h2>2. Data</h2>
                        </div>
                        <p>
                            <form id="data_form" class="form-horizontal" method="post">
                                <ul class="nav nav-tabs" id="dataTab">
                                    <li class="active"><a href="#data" data-toggle="tab">Data</a></li>
                                    <li><a href="#gold" data-toggle="tab">Gold data</a></li>
                                    <li><a href="#evaluation" data-toggle="tab">Evaluation</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="data">
                                        <div class="span7 wrapper">
                                            <div class="control-group content2">
                                                <textarea id="id_data" class="field span12" rows="15" cols="40" placeholder="worker object class"></textarea>
                                                <span class="help-inline"></span>
                                                <h3>Line format:</h3>
                                                <pre>workerid[tab]objectid[tab]assignedlabel</pre>
                                            </div>
                                        </div>
                                        <div class="span5 well">

                                        </div>
                                    </div>
                                    <div class="tab-pane" id="gold">
                                        <div class="span7">
                                            <div class="control-group">
                                                <textarea id="id_gold_data" class="field span12" rows="15" cols="40" placeholder="object label zeta"></textarea>
                                                <span class="help-inline"></span>
                                                <h3>Line format:</h3>
                                                <pre>objectid[tab]correctlabel[tab]zeta</pre>
                                            </div>
                                        </div>
                                        <div class="span5 well">

                                        </div>
                                    </div>
                                    <div class="tab-pane" id="evaluation">
                                        <div class="span7">
                                            <div class="control-group">
                                                <textarea id="id_evaluation_data" class="field span12" rows="15" cols="40" placeholder="object label zeta"></textarea>
                                                <span class="help-inline"></span>
                                                <h3>Line format:</h3>
                                                <pre>objectid[tab]correctlabel[tab]zeta</pre>
                                            </div>
                                        </div>
                                        <div class="span5 well">
                                            <p>You may as well provide a few known answers to check how good is the algorithm answer.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="alert alert-error" style="display:none;">
                                    <strong>Error!</strong><p>Troia server not responding.</p>
                                </div>
                                <div class="form-actions">
                                    <span type="button" class="btn btn-info" id="send_data">Process</span>
                                </div>
                            </form>
                        </p>
                    </div>

                </div>
            </div>
            <div class="tab-pane" id="result">
                <img src="/media/img/bigrotation.gif" id="img-load" />
                <div id="response">
                    <div class="row" style="margin-left: auto; margin-right: auto; padding-right: 0;">
                        <div class="span8">
                            <ul class="nav nav-tabs" id="resultsTab">
                                <li class="active"><a href="#summary" data-toggle="tab">Summary</a></li>
                                <li><a href="#labels" data-toggle="tab">Predicted labels</a></li>
                                <li><a href="#workers" data-toggle="tab">Workers stats</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="summary">
                            <div id="summary-inner" style="display: none;">
                                <div class="row" style="margin: inherit;">
                                    <!-- <div class="span2"></div> -->
                                    <div class="span8">
                                        <div class="page-header">
                                            <h2>Job summary</h2>
                                        </div>
                                        <div id="job_summary"></div>
                                    </div>
                                    <div class="span4">
                                    <!-- <div class="span4" style="text-align: right; margin-left: auto; margin-right: 0"> -->
                                        <span id="download_zip_btn" class="btn btn-info" style="">Download results</span>
                                    </div>
                                </div>
                                <div class="row" style="margin: inherit;">
                                    <div id="url" style="display: none;">
                                        <div class="page-header">
                                            <h2>You can see later your results at</h2>
                                        </div>
                                        <pre style="text-align: center;"></pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="labels">
                            <div id="objects"></div>
                        </div>
                        <div class="tab-pane" id="workers">
                            <div id="workers"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Job summary template. -->
        <script type="text/template" id="job_summary_template">
            <div>
                <table>
                    <thead>
                        <tr>
                            <% _.each(_.keys(summary), function(key) { %>
                                <th><%= key %></th>
                            <% }); %>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <% _.each(_.keys(summary), function(key) { %>
                                <td><%= summary[key] %></td>
                            <% }); %>
                        </tr>
                    </tbody>
                </table>
            </div>
        </script>

        <!-- Objects table template. -->
        <script type="text/template" id="objects_template">
            <table class='table table-striped'>
                <tr>
                    <th>Name</th>
                    <th>Estimated value</th>
                    <th>Estimated Zeta</th>
                </tr>
                <% _.each(objects, function(o) { %>
                <tr>
                    <td><%= o.object %></td>
                    <td><%= o.prediction.est_value %></td>
                    <td><%= o.prediction.est_zeta %></td>
                </tr>
                <% }); %>
            </table>
        </script>

        <!-- Workers table template. -->
        <script type="text/template" id="workers_template">
            <table class='table table-striped'>
                <tr>
                    <th>Name</th>
                    <th>Estimated mu</th>
                    <th>Estimated rho</th>
                    <th>Estimated sigma</th>
                    <!-- TODO show zetas <th>Zeta</th> -->
                </tr>
                <% _.each(workers, function(w) { %>
                <tr>
                    <td><%= w.worker %></td>
                    <td><%= w.quality.est_mu %></td>
                    <td><%= w.quality.est_rho %></td>
                    <td><%= w.quality.est_sigma %></td>
                    <!-- <td>&nbsp;</td> -->
                </tr>
                <% }); %>
            </table>
        </script>

    </div>
</div>
{% endblock %}
